@font-face {
    font-family: "custom-font";
    src: url("../resources/Lato-Light.woff") format("woff");
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    /* border:dashed 1px black; */
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    background: white;
    height: 100%;
    margin: 10px 10px;
    font-family: Poppins, sans-serif;
  }
  
  .banner {
    position: relative;
    height: 330px;
    background-color: rgb(73, 167, 221);
    background-size: auto;
  }
  
  .banner .title-desc {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
  
  .banner .title-desc h1 {
    text-align: center;
    font-size: 3rem;
    font-family: cursive;
    color: rgb(7, 25, 82);
    margin-bottom: 1rem;
  }
  
  .banner .title-desc p {
    text-align: center;
    font-size: 22px;
    color: rgb(10, 10, 10);
    padding: 5px auto;
    position: relative;
    width: 100%;
  }
  
  
  
  #description p {
    text-align: center;
    font-size: 22px;
    color: rgb(11, 102, 106);
    padding: 5px auto;
    position: relative;
    width: 100%;
  }
  
  .form {
    background-color: rgb(242, 243, 245);
    margin-bottom: 10px;
  }
  
  .form form h2 {
    font-size: 1.125rem;
    font-weight: 500;
  }
  
  #gender {
    font-size: 1.125rem;
    font-weight: 500;
    padding-top: 15px;
    padding-left: 15px;
  }
  
  label {
    display: none;
  }
  
  .form h2 {
    font-size: 1.125rem;
    padding-top: 8px;
    padding-left: 15px;
    margin-bottom: 0.4rem;
  }
  
  .radio-button {
    margin-bottom: 0.75rem;
    display: inline-block;
  }
  
  .gender {
    font-size: 1.25rem;
    font-weight: 350;
    display: inline-block;
    vertical-align: middle;
    color: #000;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    margin-left: 15px;
    border-radius: 10px;
  }
  
  .gender + .gender {
    margin-left: 8px;
  }
  
  .gender input[type="radio"] {
    display: none;
  }
  
  .gender span {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 3px solid #87ceeb;
    display: block;
    position: absolute;
    left: 0;
    top: 1px;
  }
  
  .gender span:after {
    content: "";
    height: 10px;
    width: 10px;
    background-color: #00aeef;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 50%;
    transition: 100ms ease-in-out 0s;
  }
  
  .gender input[type="radio"]:checked ~ span:after {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .input-wrapper {
    position: relative;
    display: flex;
    background-color: #fff;
    border: 1px solid #7b7b93;
    margin: 0 15px;
    border-radius: 5px;
  }
  
  .suffix {
    position: relative;
    color: #7b7b93;
    padding: 15px 10px;
  }
  
  .error-message {
    color: rgb(255, 0, 0);
    margin-left: 15px;
    padding-top: 0.3rem;
    font-weight: 300;
    font-size: 0.8rem;
  }
  
  input {
    background-color: transparent;
    position: relative;
    width: 100%;
    padding: 10px;
    margin: 5px;
    color: #2c2c51;
    border: none;
    font-size: 1.1rem;
  }
  
  #button-submit,
  #button-reset {
    background-color: #00aeef;
    color: aliceblue;
    position: relative;
    margin-top: 35px;
    margin-left: 15px;
    margin-bottom: 20px;
    padding: 20px;
    border: none;
    border-radius: 8px;
    text-align: center;
    display: inline-block;
    font-family: Poppins;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
  }
  
  #button-reset {
    background-color: red;
    margin-left: 2px;
  }
  
  #button-reset:hover {
    background-color: tomato;
    border: 1px solid tomato;
    color: tomato;
  }
  
  #button-submit:hover {
    background-color: #0707cc;
    color: rgb(60, 197, 176);
    border: 1px solid rgb(60, 197, 176);
  }
  
  .required .warning {
    color: rgb(255, 0, 0);
    margin-left: 15px;
    padding-top: 0.5rem;
    font-weight: 400;
  }
  
  ol {
    list-style-type: decimal;
    -webkit-padding-start: 22px;
    font-size: 1.3rem;
    line-height: 1.8rem;
  }
  
  .description {
    font-family: custom-font, Poppins, sans-serif;
    font-weight: 500;
    color: #0f0f0f;
  }
  
  .description h3,
  .result h3 {
    font-family: custom-font, Poppins, sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
    color: #0f0f0f;
    margin: 1.3rem 0;
  }
  
  .description p {
    margin-bottom: 10px;
    font-size: 1.4rem;
    font-weight: 550;
    text-align: justify;
  }
  
  section {
    background-color: rgb(242, 243, 245);
    height: auto;
    margin-top: 3rem;
  }
  
  section h3 {
    font-family: custom-font, Poppins, sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    color: #0f0f0f;
    text-align: center;
    margin-bottom: 1rem;
  }
  
  #res {
    border-radius: 10px;
  }
  
  #res .box {
    width: 100%;
    height: 100%;
    padding: 1rem;
    box-sizing: inherit;
  }
  
  #res .result {
    border: solid 1px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    padding: 20px;
    font-size: 1.3rem;
    text-align: center;
  }
  
  #res .result #sum-head {
    color: rgb(102, 102, 102);
    font-size: 1.8rem;
  }
  
  #res .result .bot {
    font-size: 16px;
  }
  
  #res .result #num {
    color: #59e023;
    color: #e2c000;
    color: #dd2a36;
    font-size: 5rem;
    font-weight: bold;
  }
  
  #res .result #sum-info {
    color: #0f0f0f;
    font-size: 1.3rem;
    font-weight: bold;
  }
  
  #res .result #sum-sums {
    font-size: 1rem;
    color: rgb(102, 102, 102);
  }
  
  .effect h3 {
    font-family: custom-font, Poppins, sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    color: #0f0f0f;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 0;
  }
  
  .li-disease {
    list-style-type: none;
    text-align: center;
    font-size: 1.2rem;
    color: rgb(102, 102, 102);
  }
  
  .disclaimer p {
    text-align: justify;
    font-size: 0.9rem;
    font-weight: 400;
    margin-top: 0.5rem;
  }
  
  .disclaimer p span {
    font-weight: bold;
  }
  
  .go-to {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .go-to a {
    background-color: rgb(91, 192, 222);
    color: #fff;
    padding: 1rem;
    margin: 0.5rem;
    border: none;
    border-radius: 10px;
  }
  
  .download-link {
    margin: 3rem;
  }
  
  .download-link h5 {
    text-align: center;
    font-family: Poppins, sans-serif;
  }
  
  .img-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .img-container .img-google img {
    max-width: 200px;
    height: auto;
  }
  
  .img-container .img-apple img {
    width: 165px;
    /* height: auto; */
  }
  .text-center-footer{
    text-align: center;
    font-size: 22px;
    color: rgb(9, 214, 221);
    padding: 5px auto;
    position: relative;
    width: 100%;
  }
  